<div ng-controller="LanguageSelectionCtrl">
  Change Language?
  <select ng-init=""
          ng-model="lang"
          ng-options="option for option in languageOptions"
          ng-change="setLang(lang)"
  >
  </select>
</div>

<h2>{{demo.prompts.locations[lang]}}</h2>

<div class="form-group">
  <label class="control-label">Filter:
    <input ng-model="demo.filter" class="form-control">
  </label>
</div>
<div class="pre-scrollable">
  <div ng-repeat="(key,val) in demo.locationNames | filter:demo.filter" class="form-check">
    <label class="form-check-label">
      <input type="checkbox" ng-model="demo.locations[val[langDef]]" class="form-check-input"/> {{val[lang]}} <em ng-if="lang != langDef">({{val.English}})</em>
    </label>
  </div>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#" class="restart" ng-click="$root.lang = $root.langDef">{{textLang.restart[lang]}}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right next">
      <li><a href="#!/demo/description" ng-click="setRootMult(demo.locations, 'locations')">{{textLang.next[lang]}}</a></li>
    </ul>
  </div>
</nav>
