<h2>Thank you for answering the questions!</h2>

<h3>Selections:</h3>
<ul>
  <li>Symptoms:     {{symptoms}}</li>
  <li>Description:  {{descriptions}}</li>
  <li>Locations:    {{locations}}</li>
  <li>Allergies:    {{allergies}}</li>
  <li>Medications:  {{medications}}</li>
  <li>Hazards:      {{hazards}}</li>
  <li>Reliefs:      {{reliefs}}</li>
</ul>

<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-left">
    <li><a href="#" class="restart" ng-click="$root.lang = $root.langDef">{{textLang.restart[lang]}}</a></li>
  </ul>
</div>

